<section class="banner row">
  <div id="marquee" class="row">
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-01.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-02.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-03.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-04.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-05.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-06.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-07.jpg" alt="shiatsu" />
    <img src="{{site.baseurl | prepend: site.url}}/image/shiatsu-nuriabelloc-08.jpg" alt="shiatsu" />
  </div>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
    <h1>{{ site.description }}</h1>
  </div>
</section>
