<div id="newsletter" class="well-sm text-center">

  <form
    action="https://tinyletter.com/nuriabelloc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nuriabelloc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <h3>
        {% if page.lang == 'cat' %}
          Vols rebre informació? introdueix el teu email
        {% else %}
          ¿Quieres receibir información? introduce tu email
        {% endif %}
    </h3>
    <input type="hidden" value="1" name="embed"/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
          <input type="email" name="email" id="tlemail" class="form-control" placeholder="email">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">
              {% if page.lang == 'cat' %}
                Enviar
              {% else %}
                Enviar
              {% endif %}
            </button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </form>

  <p>
    <a href="{{ '/newsletter' | prepend: site.baseurl | prepend: site.url }}">
      {% if page.lang == 'cat' %}
        arxiu de butlletins
      {% else %}
        archivo de newsletters
      {% endif %}
    </a>
  </p>
</div>

