<form
  id="newsletter"
  action="https://tinyletter.com/nuriabelloc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nuriabelloc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <h3>
    <label for="tlemail">
      {% if page.lang == 'cat' %}
        Introduïu la vostra adreça de correu electrònic
      {% else %}
        Introduzca su dirección de correo electrónico
      {% endif %}
    </label>
  </h3>
  <p>
    <input class="input-email" type="email" name="email" id="tlemail" />
    <button type="submit" class="btn">
      {% if page.lang == 'cat' %}
        Enviar
      {% else %}
        Enviar
      {% endif %}
    </button>
  </p>
  <input type="hidden" value="1" name="embed"/>
</form>

