html
  +font-size(14px)
  height: 100%
body
  min-height: 100%
  margin: 0
  padding: 0
  padding-bottom: 10em
  font-family: $font-text
  background: $bg url(../image/bg-wood.jpg) fixed
a,
a:visited
  transition: all 0.4s ease

hr
  border-top: 1px solid $soft-color
  border-right: none
  border-bottom: none
  border-left: none
  margin: 1rem 0 2rem 0
.text-highlight
  color: $alternate-color
.text-center
  text-align: center
.list-unstyled
  padding-left: 0
  list-style: none
.img-responsive
  display: block
  width: 100%
  max-width: 100%
  height: auto

//
.container-fluid
  +respond-to(phone)
    padding-right: .7rem
    padding-left: .7rem
.site-header
  +linear-gradient(rgba($soft-color, .4), rgba($soft-color, .0))
  padding: .6rem 0
  text-align: center
  margin-right: -15px
  margin-left: -15px
.site-title
  margin: 0
  text-transform: uppercase
  font-size: 3.5rem
  +respond-to(phone)
    font-size: 2.2rem
  font-weight: 900
  font-family: $font-titles
  letter-spacing: .8rem
  a,
  a:visited
    color: $secondary-color
    +letterpress($soft-color, .1)
  a:hover,
  a:active,
  a:focus
    text-decoration: none
    color: rgba(lighten($primary-color,15), .8)
.site-description,
.site-email
  padding: 0 1em
.site-meta
  margin: 0
  padding-top: .6rem
  text-transform: uppercase
  font-size: .8rem
  font-weight: 700
  font-family: $font-text
  letter-spacing: .2rem
  color: $hard-color
  text-shadow: 0 0 1rem rgba($soft-color, .4)


.banner
  text-align: center
  color: $soft-color
  padding: 2rem 1rem 2rem 1rem
  +respond-to(phone)
    padding: .8em .3em .6em .3em
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  h1
    font-size: 2rem
    +respond-to(phone)
      font-size: 1.4rem

    font-weight: 300
    font-style: normal
    font-family: $font-text
    padding: 1rem 1.5rem
    margin: 0 0 4rem
    color: $soft-color
    +letterpress($primary-color, .5)
    text-shadow: 0 0 1rem rgba($hard-color, .9)
    text-align: center
  .caption
    padding: .3rem
    display: inline-block
    font-size: .8rem
    text-transform: uppercase
    text-align: right
  // banner
  #marquee
    height: 400px
    +respond-to(phone)
      height: 200px
    position: relative
    margin: 0 -3rem
    div.scrollableArea img
      height: 400px
      +respond-to(phone)
        height: 200px
      position: relative
      float: left
      margin: 0
      padding: 0
      margin-right: 2rem
.main-content
  padding: 25px
  width: 100%
  margin: 3rem auto 1rem
  padding: 1.5rem 3rem 2rem
  background: $bg url(../image/bg-paper.png)
  text-align: justify
  font-family: $font-text
  color: rgba($hard-color, .8)
  border-radius: .5rem
  border-top-right-radius: 0
  +respond-to(phone)
    border-top-right-radius: .5rem
  font-family: $font-text
  font-weight: 400
  font-size: 1.1rem
  +respond-to(phone)
    margin: 2rem auto 1rem
    padding: 1rem 1rem 1rem
  .title
    text-align: center
    margin: 0 0 3rem
    font-size: 2rem
    color: rgba($hard-color, .9)
    +letterpress($soft-color, .8)
    border-bottom: 1px solid rgba($hard-color, .5)
    padding-bottom: .4em
    font: italic 700 64px/1 $font-titles
    letter-spacing: 0.05em
    +respond-to(phone)
      margin: 0 0 1.5rem
      font-size: 2rem
  h2
    line-height: 1.3em
    font-weight: 400
    display: block
    +letterpress($soft-color, .8)
    font-family: $font-titles
    font-style: italic
    color: $hard-color
    border-bottom: 1px solid rgba($hard-color, .3)
    +respond-to(phone)
      font-size: 1.5rem
  p
    line-height: 1.6em
    strong
      font-weight: 600
    em
      font-weight: 300
      font-style: normal

  blockquote
    // border-left: 1px solid $alternate-color
    padding: .1rem 2rem
    margin: 0
    > p
      font-style: italic
      font-family: $font-text
      font-weight: 100
      margin: .3rem
      line-height: 1.5rem
      font-size: 1.3rem
      text-align: center
      color: $alternate-color

.pricing
  text-align: center
  p
    margin: 0
  .price
    margin: 0
    font-size: 1.5rem
    font-weight: normal
  .val
    font-size: 4rem
    color: $hard-color
  .sup
    font-size: 1.2rem
    vertical-align: 2rem
.l3
  color: #3c763d
.l4
  color: #8a6d3b
.bio h1 + p
  float: right
  display: block
  width: 150px
  margin: 0 0 1rem 1rem
.bio img
  border-radius: 50%
  border: 1px solid $soft-color
  height: auto
  width: 100%
.thumbnail
  font-family: $font-titles
  text-align: center
  border-color: $highlight-color
  padding: 0
  position: relative
  display: block
  .caption
    position: absolute
    bottom: 0
    right: 0
    left: 0
    //+linear-gradient(rgba(10,10,10, .1), rgba(10,10,110, 1))
  h3
    color: white
    margin: 0
    text-shadow: 0 0 10px black
    transition: all 0.4s ease
  &:hover h3
    color: $highlight-color

//
#newsletter
  background: rgba($alternate-color, .3)
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  h3
    font-size: 1.5rem
    color: darken($highlight-color, 35)
  a
    color: darken($alternate-color, 5)
    text-decoration: underline
    font-weight: 600
    &:hover
      color: darken($alternate-color, 55)

#contactme
  background: rgba($primary-color, .3)
  color: $primary-color
  border-top-left-radius: 0
  border-top-right-radius: 0
  h3
    font-size: 1.5rem
  a
    color: darken($soft-color, 5)
    text-decoration: underline
    font-weight: 600
    &:hover
      color: lighten($soft-color, 5)
.btn-primary
  +button-variant($soft-color, $primary-color, $primary-color)
.btn-secondary
  +button-variant($highlight-color, $alternate-color, $alternate-color)

svg
  fill: currentColor
