// langs
.main-content
  position: relative
.es:lang(es),
.cat:lang(cat)
  font-weight: bold
.langs
  background: rgba($highlight-color, .3)
  position: absolute
  top: .5em
  right: -2.3em
  padding: .2em 0
  margin: 0
  text-align: right
  text-align: left
  border: 1px solid $highlight-color
  border-left: none
  border-top-right-radius: .5em
  border-bottom-right-radius: .5em
  li
    padding: 0 .5em
    margin: 0
    list-style: none
    a
      text-transform: uppercase
      font-size: .8rem
