$color-n1: #512347;
$color-n2: #9CBB18;
$bg: #EEE;

$primary-color: $color-n1; // 2e0b1f
$secondary-color: lighten($primary-color, 10);
$alternate-color: darken($color-n2, 15); // F8364D
$highlight-color: $color-n2;
$soft-color: lighten(desaturate($highlight-color, 82), 40);
$hard-color: lighten(desaturate($primary-color, 87), 14);
$text-color: lighten(desaturate($primary-color, 10), 20);
$font-titles: 'playfair display', Georgia, "Times New Roman", Times, serif;
$font-text: 'signika', 'Helvetica Neue', Helvetica, sans-serif;

$body-bg:               $bg;

$link-color:            $secondary-color;
$link-hover-color:      $alternate-color;

$font-family-sans-serif:  $font-text;
$font-family-serif:       $font-titles;
